:root{
  --background-color: #171419;
  --white: #fff;
}

body{
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
    color: var(--white);
    padding: 20px;
    max-width: 1200px;
}
